<div class="content">
    <div class="grid-1">
        <div class="information">
            <h1 class="heading-1">Quote Tool</h1>
            <h3 class="heading-2">Step 1 of 2 - Photos</h3>
            <p class="information__paragraph">
                Help us understand the overall requirements of your project by taking a photo of the entire pool area. Try to get all the fence runsin the one shot
            </p>
            <a href="" class="button button--desktop">next</a>
        </div>
    </div>
    <div class="grid-2">
        <div class="inputs">
            <h3 class="heading-3">Add Photo</h3>
            <div class="image-input">
                <div class="image-input__upload-area">
                    <div class="image-input__uploadlable-image-container"><img class="image-input__uploadlable-image" src="/assets/" alt="upload image"><button class="image-input__cancel">x</button></div>
                    <span class="image-input__upload-text">upload / drag image</span>
                    <input type="file" accept="image/*" class="image-input__upload-button"> 
                </div>
            </div>
    
            <div class="text-input">
                <textarea class="text-input__textarea" name="" placeholder="In few sentences describe the fence position in relation to the photo"></textarea>
                <!-- <div contentEditable="true"></div> -->
            </div>
            <a href="photos-2.html" class="button button--mobile">next</a>
        </div>
    </div>
    
</div>